body{
  background-color: #bb923a;
  overflow-x: hidden;

}

}
div{


}

.yellow{
  background-color: #ece4c6;
  padding:0.01em 16px;
  margin-left:-14px;
  margin-right:-14px;
}

.fill{
  height: 98vh;
  background-image: url("https://media.snl.no/media/136049/standard_msWvwrO89jc.jpg"); 
  opacity: 0.5;
  padding: 50px 0;
  text-align: center;
}

.fill > h1 {
  font-size: 1000%;
  opacity: 0.;
}

.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.flex1{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.scrollmenu {

  overflow: auto;
  white-space: nowrap;
  height: 100%;
  padding:0.01em 16px;
  margin-left:-14px;
  margin-right:-14px;  
}

.scrollmenu > div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu > div > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu > div > a:hover {
  background-color: #777;
}
